@import url('https://fonts.googleapis.com/css?family=Roboto');

.text-cool {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.text30 {
    font-size: 3em;
}

.bg-cool {
    background: linear-gradient(45deg, rgb(127, 218, 224), rgb(196, 186, 186));
}

.header {
    background: white;
}